---
import PricingCard from "../components/PricingCard.astro";
---

<section id="pricing" class="full-width">
  <h2 class="pricing-title">Тарифы</h2>
  <div class="pricing-content">
    <PricingCard />
  </div>
</section>

<style scoped>
  #pricing {
    --row-gap: 50px;
    --color: var(--clr-pink-100);
    --border: 2px solid var(--border-color);
    --margin-inline: 0;
    --margin-block: 0;
    --padding-inline: 0;
    --padding-block: 5vh;

    padding-block: var(--padding-block);
    gap: var(--row-gap);
  }

  .pricing-title {
    font-weight: 600;
    line-height: 100%;
    font-size: var(--font-size-5);
    color: var(--clr-pink-400);
    text-align: center;
    margin: 0;
  }
</style>
