---
import { reviewsData } from "../data/reviewsData"
import ReviewCard from "../components/ReviewCard.astro"
import ScrollSnap from "../components/ScrollSnap.astro"
---

<section id="reviews" class="reviews full-width">
  <h1 class="reviews-title">Познакомьтесь с историями успеха</h2>

  <ScrollSnap client:load snapAlign="center">
    {reviewsData.map((review) => (
      <ReviewCard name={review.name} text={review.text} avatar={review.avatar} />
    ))}
  </ScrollSnap>
</section>

<style>
.reviews {
  margin-top: var(--space-l);
  padding-block: var(--space-2xl);
  padding-inline: var(--space-m);
  background: var(--clr-pink-400);
  height: 100svh;
}

.reviews-title {
  font-size: var(--font-size-4);
  font-weight: 600;
  margin-bottom: var(--space-xl);
  text-align: center;
  color: var(--clr-neutral-900);
}

</style>
